*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 241, 247);
}

.menu{
    display: flex;
    width: 800px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 222, 61);
    margin: 0 auto;
    border: 1px dashed black;
}

.btn{
    height: 20px;
}

.header-row{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: blue;

}

.starter-box{
    width: 500px;
    height: 150px;
    background-color: rgb(243, 89, 204);
}

.row{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.box-blue{
    background-color: cyan;
    height: 200px;
    width: 400px;
    border: 1px dashed black;
}

.box-pink{
    background-color: pink;
    height: 200px;
    width: 200px;
    border: 1px dashed black;
}

.bottom-row{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box{
    width: 600px;
    height: 500px;
    background-color: green;
    border: 1px dashed black;
}

.row:nth-child(even){
    background-color: lightgrey;
}

.footer-row{
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.column-pink{
    height: 250px;
    width: 160px;
    background-color: palevioletred;
    border: 1px dashed black;
}

.column-lightblu{
    height: 250px;
    width: 110px;
    background-color: aqua;
    border: 1px dashed white;
}